@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #09090b;
  color: #fafafa;
}
::-webkit-scrollbar {
  width: 2px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  @apply bg-zinc-800 rounded-md;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

.font-mono {
  font-feature-settings: "calt", "liga", "dlig", "ss01", "ss02", "ss03", "ss04", "ss05", "ss06",
    "ss07", "ss08";
}

.wip-banner {
  background: repeating-linear-gradient(
    -40deg,
    theme("colors.amber.500"),
    theme("colors.amber.500") 25px,
    color-mix(in lch, theme("colors.amber.600") 35%, theme("colors.amber.500")) 25px,
    color-mix(in lch, theme("colors.amber.600") 35%, theme("colors.amber.500")) 50px
  );
  font-weight: 500;
  color: black;
}

.prose {
  max-width: 85ch;
}

.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)):before {
  content: "";
}

.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)):after {
  content: "";
}

.prose
  :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *, [class~="code-block"] *)) {
  @apply bg-neutral-600/50 rounded-md px-1 py-1 font-medium text-neutral-200;
}

.navlink {
  @apply block w-full rounded-md px-4 py-1 mb-1;
  &:hover {
    @apply bg-primary-500/20;
  }
  &.selected {
    @apply bg-primary-500/30 font-semibold;
  }
}

.navheader {
  @apply text-xs font-bold text-zinc-400 mt-8 mb-1.5;
}

#nav {
  view-transition-name: nav;
}

#docs-nav {
  view-transition-name: docs-nav;
  ul ul li a {
    @apply pl-8;
  }
}

.prose {
  max-width: none;
}

body {
  display: grid;
  grid-template-columns: 1fr min(120ch, 100%) 1fr;
}

#nav-wrapper {
  display: grid;
  grid-template-columns: 1fr min(120ch, 100%) 1fr;
}

#nav-wrapper > div {
  grid-column: 2;
}

#main {
  grid-column: 2;
}

.card {
  @apply border rounded-md border-zinc-600 p-4 bg-zinc-800/50 block h-full transition-colors hover:border-primary-300 hover:bg-zinc-800/90;
}

.card.primary {
  @apply border-primary-600 bg-primary-800/50 hover:border-primary-300 hover:bg-primary-800/90;
}

/* red orange amber yellow lime green emerald teal cyan sky blue indigo violet purple fuchsia pink rose */
.card.red {
  @apply border-red-600 bg-red-800/50 hover:border-red-300 hover:bg-red-800/90;
}

.card.orange {
  @apply border-orange-600 bg-orange-800/50 hover:border-orange-300 hover:bg-orange-800/90;
}

.card.amber {
  @apply border-amber-600 bg-amber-800/50 hover:border-amber-300 hover:bg-amber-800/90;
}

.card.yellow {
  @apply border-yellow-600 bg-yellow-800/50 hover:border-yellow-300 hover:bg-yellow-800/90;
}

.card.lime {
  @apply border-lime-600 bg-lime-800/50 hover:border-lime-300 hover:bg-lime-800/90;
}

.card.green {
  @apply border-green-600 bg-green-800/50 hover:border-green-300 hover:bg-green-800/90;
}

.card.emerald {
  @apply border-emerald-600 bg-emerald-800/50 hover:border-emerald-300 hover:bg-emerald-800/90;
}

.card.teal {
  @apply border-teal-600 bg-teal-800/50 hover:border-teal-300 hover:bg-teal-800/90;
}

.card.cyan {
  @apply border-cyan-600 bg-cyan-800/50 hover:border-cyan-300 hover:bg-cyan-800/90;
}

.card.sky {
  @apply border-sky-600 bg-sky-800/50 hover:border-sky-300 hover:bg-sky-800/90;
}

.card.blue {
  @apply border-blue-600 bg-blue-800/50 hover:border-blue-300 hover:bg-blue-800/90;
}

.card.indigo {
  @apply border-indigo-600 bg-indigo-800/50 hover:border-indigo-300 hover:bg-indigo-800/90;
}

.card.violet {
  @apply border-violet-600 bg-violet-800/50 hover:border-violet-300 hover:bg-violet-800/90;
}

.card.purple {
  @apply border-purple-600 bg-purple-800/50 hover:border-purple-300 hover:bg-purple-800/90;
}

.card.fuchsia {
  @apply border-fuchsia-600 bg-fuchsia-800/50 hover:border-fuchsia-300 hover:bg-fuchsia-800/90;
}

.card.pink {
  @apply border-pink-600 bg-pink-800/50 hover:border-pink-300 hover:bg-pink-800/90;
}

.card.rose {
  @apply border-rose-600 bg-rose-800/50 hover:border-rose-300 hover:bg-rose-800/90;
}

.code-block {
  .code-header {
    @apply bg-neutral-600/50 rounded-t-md px-4 py-1.5 text-xs text-neutral-200 font-medium font-mono;
  }
  pre {
    @apply m-0 rounded-t-none w-full px-0;
    counter-reset: line;
  }
}
.code-block pre > code {
  width: 100%;
  display: inline-block;
}
.code-block pre > code > span.line {
  width: 100%;
  display: inline-block;
}

.code-block pre > code > span.line:before {
  content: counter(line);
  counter-increment: line;
  @apply text-neutral-600;
  display: inline-block;
  text-align: right;
  margin-right: 1em;
  width: 2em;
}

span.line.highlighted.error {
  @apply bg-red-500/20;
}

.font-mono *,
code,
kbd,
pre,
samp {
  font-synthesis: none;
}

@font-face {
  font-family: "Monaspace Neon";
  font-display: swap;
  font-weight: 200 800;
  font-stretch: 100% 125%;
  font-style: oblique 0deg 11deg;
  src: url("/static/font/MonaspaceNeon.woff2") format("woff2-variations");
}

@font-face {
  font-family: "Palanquin";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("/static/font/Palanquin-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Palanquin";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("/static/font/Palanquin-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "Palanquin";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("/static/font/Palanquin-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Palanquin";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/static/font/Palanquin-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Palanquin";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/static/font/Palanquin-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Palanquin";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("/static/font/Palanquin-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Palanquin";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/static/font/Palanquin-Bold.woff2") format("woff2");
}
